.container {
  z-index: 20;
  width: 53rem;
  display: flex;
  justify-content: flex-end;
}

.wrapper {
  background-color: #ffffff;
  width: 29rem;
  padding: 3rem;
  box-shadow: 0 1.25rem 1.5625rem -0.3125rem rgba(0, 0, 0, 0.1), 0 0.625rem 0.625rem -0.3125rem rgba(0, 0, 0, 0.04);
}

.title {
  margin-bottom: 0.5rem;
}

.content {
  height: 15rem;
  display: flex;
  flex-direction: column;
}
