.wrapper {
  display: flex;
  align-items: center;
  padding: 1rem;
  overflow: hidden;
  border: 0.0625rem solid #f6f5f3;
  border-radius: 0.25rem;
  height: 4rem;
}

.searchBar {
  font-size: 1.0625rem;
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
}

.searchIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.searchIcon img:hover {
  cursor: pointer;
}
